PIXEL_STREAMING_SIGNALING_URL=ws://localhost:8888
PIXEL_STREAMING_STREAMER_PORT=8889
PIXEL_STREAMING_SFU_PORT=8890
PIXEL_STREAMING_SFU_ENABLE=0
PIXEL_STREAMING_TURN_ENABLE=0
PIXEL_STREAMING_NO_SUDO=1
