VITE_CESIUM_ION_TOKEN=your_ion_token_here
VITE_CESIUM_IMAGERY_URL=https://a.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}@2x.png
VITE_CESIUM_3DTILES_ASSET_ID_PHOTOGRAMMETRY=photogrammetry_asset_id
VITE_CESIUM_3DTILES_ASSET_ID_LOD1=lod1_asset_id
VITE_CESIUM_3DTILES_ASSET_ID_LOD1_GROUND=lod1_ground_asset_id
VITE_PIXEL_STREAMING_SIGNALING_URL=ws://cloud.dtcc.chalmers.se:14984
