[submodule "services/pixel_streaming/PixelStreamingInfrastructure"]
	path = services/pixel_streaming/PixelStreamingInfrastructure
	url = https://github.com/EpicGamesExt/PixelStreamingInfrastructure.git
	branch = UE5.7
